
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <title>ChouFni</title>
        <link rel="stylesheet" href="{% static 'css/update_profile.css' %}">
        <link rel="stylesheet" href="https://fonts.google.com/share?selection.family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900">
    </head>
<body>
    {% block content %}

    <div class="registerFormContaier">

    <div class="registerForm">
        <a href="{% url 'home' %}">
            <h1>ChouFni</h1>
        </a>
        <p>Update your profile.</p>
        <form action="" method='POST' enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form %}
                {% if field.errors %}
                    {{field}}
            <small>{{field.errors}}</small>
                {% else %}
                    {{field}}
                {% endif %}
            {% endfor %}

            <button>Submit</button>
        </form>
    </div>

</div>

    {% endblock %}
</body>
</html>